.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img-name {
    display: flex;
    gap: 25px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.line {
    width: 25px;
    height: 2px;
    gap: 5px;
    background-color: #6c6;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-margin {
    margin: 0px;
}

.group-transaction-bg {
    background-color: #6c6;
    padding: 5px 0px;
}

.group-transaction-main {
    display: flex;
    justify-content: space-between;
    margin: 30px 140px;
}

.user-img-name-transaction {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-image-transaction {
    width: 178px;
    /* Aspect ratio for a regular hexagon is approximately 1 / cos(30deg) */
    height: calc(178px * 1.1547);
    background-color: #6c6; /* Green color example */
    clip-path: polygon(
        0% 25%,
        /* Top-left corner of the shape */ 0% 75%,
        /* Bottom-left corner of the shape */ 50% 100%,
        /* Bottom middle corner */ 100% 75%,
        /* Bottom-right corner of the shape */ 100% 25%,
        /* Top-right corner of the shape */ 50% 0% /* Top middle corner */
    );
}

.transation-total-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.transaction-box {
    border-radius: 15px;
    background-color: lightgray;
    padding: 30px;
}

.transactions-all {
    margin-bottom: 14px;
}

.transaction-final-total {
    text-align: center;
}

.options-group {
    display: flex;
    justify-content: center;
    gap: 62px;
    margin: 25px 0px;
}

.filter-option {
    text-align: center;
}

.filter-text {
    margin-bottom: 25px;
}

.transaction-all-group {
    margin: 0px 140px 30px 140px;
}

.transaction-group-bg {
    background-color: lightgrey;
    border-radius: 15px;
    padding: 30px;
}

.transaction-top-group {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black;
    margin-bottom: 20px;
}

.transaction-top-group-margin {
    margin-bottom: 20px;
}

.total-spent-expenses-group {
    display: flex;
    gap: 10px;
}

.line-transaction {
    transform: rotate(90deg);
    align-self: center;
    width: 10px;
}

.expense-group {
    display: flex;
    justify-content: space-between;
}

.expense-title {
    margin: 0px 0px 11px 0px;
}

.expense-info {
    margin: 5px 0px;
}

.expense-left {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.expense-cost {
    align-self: center;
}
