* {
    border: solid red;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img-name {
    display: flex;
    gap: 25px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.line {
    width: 25px;
    height: 2px;
}

.group-transaction-main {
    display: flex;
    justify-content: space-around;
}

.user-img-name-transaction {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-image-transaction {
    width: 178px;
    /* Aspect ratio for a regular hexagon is approximately 1 / cos(30deg) */
    height: calc(178px * 1.1547);
    background-color: #6c6; /* Green color example */
    clip-path: polygon(
        0% 25%,
        /* Top-left corner of the shape */ 0% 75%,
        /* Bottom-left corner of the shape */ 50% 100%,
        /* Bottom middle corner */ 100% 75%,
        /* Bottom-right corner of the shape */ 100% 25%,
        /* Top-right corner of the shape */ 50% 0% /* Top middle corner */
    );
}

.transation-total-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.transaction-box {
    border-radius: 15px;
    background-color: lightgray;
}

.options-group {
    display: flex;
    justify-content: center;
    gap: 62px;
}

.filter-option {
    text-align: center;
}

.transaction-group-bg {
    background-color: lightgrey;
    border-radius: 15px;
}

.transaction-top-group {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black;
}

.total-spent-expenses-group {
    display: flex;
    gap: 10px;
}

.line-transaction {
    transform: rotate(90deg);
    align-self: center;
}

.expense-group {
    display: flex;
    justify-content: space-between;
}

.expense-title {
    margin: 0px 0px 11px 0px;
}

.expense-info {
    margin: 5px 0px;
}

.expense-left {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.expense-cost {
    align-self: center;
}
